.nitesh-img{
    position: relative;
}
.name-portfolio {
    position: absolute;
    top: 78%;
    z-index: 1;
    left: 30%;
    transform: translateX(-50%);
    font-size: 60px;
    font-weight: bold;
    color: gray;
}
.home-intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
