.nitesh-img{
    position: relative;
}
.name-portfolio {
    position: absolute;
    top: 100px;
    z-index: 1;
}
.home-intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
