.nav-bar-wrapper {
    display: flex;
    position: fixed;
    right: 119px;
}

.nav-bar-wrapper .nav-bar {
    /* background-color: #f1f1f1; */
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-bar-wrapper  .nav-bar:hover {
    background-color: lightgray;
    color: blue;
}

.nav-bar-wrapper .nav-active {
    background-color: lightgray;
    color: blue;
}